<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>Train your brain</h:head>
<body>
	<f:view>
		<f:loadBundle basename="messages" var="msg"></f:loadBundle>
		<p:layout fullPage="true">
			<p:layoutUnit position="north" header="Train your Brain"
				closable="false" resizable="true" collapsible="true">
			</p:layoutUnit>
			<p:layoutUnit position="center" closable="false" minSize="100"
				maxSize="250" collapsible="true">
				
					<!-- 
					outputLabel fuer msg.user
					inputText fuer user.name inkl. LoginValidator
					outputLabel fuer msg.password
					inputSecret fuer user.password
					 -->
				<h:form>
					<p:panelGrid columns="2">

					<h:outputLabel value="#{msg.user}"></h:outputLabel>
					<p:inputText id="check" value="#{user.name}" required = "true">
						 <f:validator validatorId="validator.LoginValidator" />
					</p:inputText>
					<h:outputLabel value="#{msg.password}"></h:outputLabel>
					<p:password value="#{user.password}" required = "true"/>
					
					</p:panelGrid>
					<!-- commandButton mit Text msg.login, user.login wird aufgerufen -->
					<p:commandButton  ajax="false" value="#{msg.login}"  action="#{user.login}" />
					<h:message for="check" style="color:red"/> <p></p>
				</h:form>
			</p:layoutUnit>
		</p:layout>
	</f:view>
</body>
</html>
